extends ../public/index

block header

    
    
    link(rel='stylesheet', href='stylesheets/testResult.css')
    title #{title}
    script(src='scripts/testResult.js')

block main
    article
        section
            h1 Результат
            p Правильных ответов: 
            p Затрачено времени: 
            figure.moreInfo
                svg.answers
                    circle.rail(cx='35', cy='35', r='30')
                    circle.train(cx='35', cy='35', r='30', transform='rotate(-90 35 35)')
                p.answersTitle ответов
                span.answersP 0%
                svg.time
                    circle.rail(cx='35', cy='35', r='30')
                    circle.train(cx='35', cy='35', r='30', transform='rotate(-90 35 35)')
                    circle.vagon(cx='35', cy='35', r='30', transform='rotate(-90 35 35)')
                p.timeTitle времени
                span.timeP 0%
            figure.final
                span.procent 70%
                .medal
                    span.rank B
                svg
                    circle.rail(cx='75', cy='75', r='70')
                    circle.train(cx='75', cy='75', r='70', transform='rotate(-90 75 75)')
                p набрано баллов
            a(href="/profile")
                button(type="submit") Вернуться в свой профиль
        script.
            //TODO: тут вывод результата
            //generateResult(всего вопросов, правильных ответов, максимум временни (сек), время прохождения пользователя(сек))
            //оценка вычисляется так
            //процент прохождения = 100 / общее колво вопросов * колво правельных ответов
            //и если время пользователя привышает максимальное то
            // мы вычитаем из процента прохождения 20 и вычитаем 1 за каждую минуту
            generateResult(#{dataParse}, #{correct}, #{time}, #{time_pass})