extends ../public/index

block header
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="scripts/main.js"></script>
    <link rel="stylesheet" href="stylesheets/profile.css">
    <title>#{title_page}</title>
    <script src="scripts/profile.js"></script>

block main
    div(class="profileChange")
    article
        section
            div(class="mainUserBlock")
                div(class="avatarBlock")
                h1(class="surName" id="name1") #{iUser.f_name}
                h2(class="otherNames" id="name2") #{iUser.s_name} #{iUser.t_name}
                ul(class="userInfo" id="info")
                        li Email: #{iUser.email}
                        li Роль: ###
                        li 
                            a(href="") Выход
                        li 
                            button(onclick="chpok()") Изменить
                            //- TODO: сделать тут выход
                        if founder
                            a(href="/founder/olympRedactor")
                                button Редактировать олимпиады
            div(class="userOlymps")
                div(class="olympsCreation")
                    img(src="/images/gear.png", alt="")
                    button(class="createOlymp") Создать олимпиаду
                    span(id="testsAmount") Всего тестов:#####
                div(class="olympsList" id="testList")
                    p Ваши тесты
                    span Создание гачи реиксов 101
                    span Математический Deep Dark Dungeon
                    span Норм аниме хотите, я вот тоже хочу а его нет (0(((
                    span Мне лень думать о том что ктото упорится и напишет название в 6 строк, i dont каре, у меня только эмпти хаус, не знаю какой бред тут написать

            div(class="olymps" id="olymps")
                h5 Пройденные олимпиады
                img(src="/images/Котэ.png", alt="" id="cat")
                script.

                    //-createReward(текст медали (лучше не больше 3 символов), имя олимпиады, время, место)

                    createReward( 'php', 'PHP для самых маленьких', '32.16.2077', 3 )

                    createReward('JS','JS для самых здоровых','11.05.1945',1)

                    createReward('H5','HTML 5 для альфа самцов','19.04.2006',4)
            div(class="tests")
                h5 Пройденные тесты
                div(class="test")
                    div
                        h3 Название теста
                        span 00.00.0000
                    span(class="score") 100 баллов
                div(class="test")
                    div
                        h3 Название теста
                        span 00.00.0000
                    span(class="score") 100 баллов
                div(class="test")
                    div
                        h3 Название теста
                        span 00.00.0000
                    span(class="score") 100 баллов
                div(class="test")
                    div
                        h3 Название теста
                        span 00.00.0000
                    span(class="score") 100 баллов