extends ../public/index

block header
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="scripts/main.js"></script>
    <link rel="stylesheet" href="stylesheets/profile.css">
    <title>#{title_page}</title>
    <script src="scripts/profile.js"></script>

block main
    div(class="profileChange")
    article
        section
            div(class="mainUserBlock")
                div(class="avatarBlock")
                h1(class="surName" id="name1") #{iUser.f_name}
                h2(class="otherNames" id="name2") #{iUser.s_name} #{iUser.t_name}
                ul(class="userInfo" id="info")
                        li Email: #{iUser.email}
                        li Роль: ###
                        li 
                            form(action="", method="post")
                                input(type="hidden", name="exit_profile" value="exit")
                                button Выход
                        li 
                            button(onclick="chpok()") Изменить
                            //- TODO: сделать тут выход
                        if founder
                            a(href="/founder/olympRedactor")
                                button Редактировать олимпиады
            div(class="userOlymps")
                div(class="olympsCreation")
                    img(src="/images/gear.png", alt="")
                    a(href="/olympList/create")
                        button(class="createOlymp") Создать олимпиаду
                    span(id="testsAmount") Всего тестов:#####
                div(class="olympsList" id="testList")
                    p Ваши тесты
                    span 
                        a(href=" /olympList/redact/1") C++ 1.0
                    span 
                        a(href=" /olympList/redact/2") MS Word для начинающих
                    span 
                        a(href=" /olympList/redact/3") C# 1.0
                    span 
                        a(href=" /olympList/redact/4") MS Power Point для начинающих
                    span 
                        a(href=" /olympList/redact/5") MS Excel для начинающих

            div(class="olymps" id="olymps")
                h5 Пройденные олимпиады
                img(src="/images/Котэ.png", alt="" id="cat")
                script.

                    //-createReward(текст медали (лучше не больше 3 символов), имя олимпиады, время, место)

                    createReward( 'С#', 'С# 1.0', '15.05.2020', 3 )
            div(class="tests")
                h5 Пройденные тесты
                div(class="test")
                    div
                        h3 Название теста
                        span 00.00.0000
                    span(class="score") 100 баллов
                div(class="test")
                    div
                        h3 Название теста
                        span 00.00.0000
                    span(class="score") 100 баллов
                div(class="test")
                    div
                        h3 Название теста
                        span 00.00.0000
                    span(class="score") 100 баллов
                div(class="test")
                    div
                        h3 Название теста
                        span 00.00.0000
                    span(class="score") 100 баллов