<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Testing</title>
    <style>
        t{
            color: red;
        }
    </style>
</head>
<body>
<div style="border: solid 3px">
<h1>Здесь какие есть категории</h1>
    <hr>
    <ol>
        <%
        for (const item of sTable) {
        %>
            <li><%= item.Tables_in_heroku_cd281529c651890 %></li>
        <% } %>
    </ol>
</div>
<div style="border: solid 3px">
    <h1>Здесь какие есть олимпиады, и ссылки к ним.</h1>
    <hr>
    <ul>
        <%
            let i = 1;
        for (const item of iTable) {
            if (i >5 ) break;
        %>
        <hr>
        <ol>
            <li><t>ID:</t>      <%= item.id%></li>
            <li><t>Name:</t>    <%= item.name%></li>
            <li><t>Table name:  </t> <%= item.table_name%></li>
            <li><t>URL:</t>     <%= item.url%></li>
            <li><t>time stamp:  </t> <%= item.time_stamp%></li>
        </ol>
        <%i++}%>
    </ul>
</div>
</body>
</html>